.content-navbar{
    width: 6%;
    display: flex;
    height: 100vh;
}
.content-nav{
    background-color: white;
}
li{
    list-style: none;
    margin: 50px 5px;

}
.link{
    font-size: 23px;
}
.inActive{
    color: #656566;
}
.active{
    color: #375EF8;
}